<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobtoquefunction20240928105325.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b4833552-e101-47f4-9491-8a70e0b5b77b/resourcegroups/alertblobfunction_group/providers/Microsoft.Web/sites/BlobtoQueFunction20240928105325</ResourceId>
    <UserName>$BlobtoQueFunction20240928105325</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://blobtoquefunction20240928105325.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>